        <!-- Footer -->
        <style>
          
          footer {
           position: relative; /* Change position to relative */
           bottom: auto; /* Reset bottom position */
           margin-top: 30px; 
           margin-bottom: 10px;/* Add some margin to separate from the content */
          }
          
      </style>



        <footer class=" pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2024 Tech Heaven</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Privacy</a></li>
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
          </footer>
