
      <div class="cover-container d-flex justify-content-center align-items-center text-center text-white bg-dark" style="height: 600px;">
        <main class="py-5" style="width: 80%;">
          <h1>Welcome to Tech Haven</h1>
          <p class="lead">Tech Haven is your ultimate destination for the latest in technology, offering a wide range of cutting-edge products including iPhones and Macs. Our mission is to provide you with top-quality gadgets that enhance your digital lifestyle..</p>
          <button type="button" class="btn btn-light">Learn more</button>
        </main>
      </div>
      



