    <!-- Hero section -->
    <style>
      /* Corrected CSS rule for the mask */
      .bg-image {
          position: relative;
          width: 100%;
          
  
      }

      .mask {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: hsla(0, 0%, 0%, 0.6); /* Change the alpha value as needed */
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
      }


  </style>
    <main>
      <div class="bg-image position-relative">
        <img src="https://images.pexels.com/photos/8294650/pexels-photo-8294650.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" 
        class="w-100" alt="Robot"
       />
        <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.6)">
            <div class=" position-absolute top-50 start-50 translate-middle text-center">
              <h2 class="display-5">Tech Heaven</h2>
              <p class="lead">Buy the last, Save the most.</p>
                    <a class="btn btn-primary " href="/CheckOut">Buy Now</a>
            </div>
        </div>
    </div>
      


        <!-- Products -->
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
          <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
              <h2 class="display-5">Laptops</h2>
              <p class="lead">Buy the last Macbook.</p>
            </div>
            <div class="  mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
              <img src="https://pngimg.com/uploads/macbook/macbook_PNG16.png" class="img-fluid" alt=""
              width="50%">
            </div>
          </div>
          

          <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="display-5">iPhones</h2>
              <p class="lead">Buy the last iPhone</p>
            </div>
            <div class=" shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
              <img src="https://pngimg.com/uploads/iphone_14/iphone_14_PNG46.png" alt=""
              width="40%"  >
            </div>
          </div>

          
          
        </div>
    </main>





